 <button (click)="zobrazoblubencov()" class="buttonon">Je medzi oblubenimi</button>

    <article class="book-card">
    @if(favorite && book().favorite) {
    <h3>{{ book().title }}</h3>
    <P>{{ book().author}}</P>
    @if (showDetails) {
    <div>
        <p>Rok vydania: {{ book().year }}</p>
        <p>Žáner: {{ book().genre }}</p>
    </div>
    }
    <button (click)="toggleDetails()" class="butttttttton">
        Zobraziť / skryť detail
    </button>
    <button [disabled]="!book().available" class="butttttttton">
        Vypožičať
        @if (!book().available) {
        <small>Kniha je momentálne vypožičaná.</small>
        }
    </button>
    @if (book().available) {
    <p>Kniha je dostupná.</p>
    } @else {
    <p>Kniha je momentálne vypožičaná.</p>
    }

    }

</article>
